
/* imported fonts */
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Raleway Dots', cursive;*/
/*font-family: 'Raleway', sans-serif;*/

h1, form {
    font-family: 'Raleway Dots', cursive;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 50%;*/
    font-size: 60px;
}

h2 {
    font-family: 'Raleway Dots', cursive;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 30px;
}

h3 {
    font-family: 'Raleway Dots', cursive;
    margin-left: 45%;
    color: #9DA7A7;
    text-align:left;
}

h4 {
    font-family: 'Raleway', cursive;
    color: #9DA7A7;
    font-size:30px;
}

h5 {
    font-family: 'Raleway Dots', cursive;
    color: #9DA7A7;
    font-size:30px;
}

/*coach profile setup*/

h6 {
    overflow:auto;
}

h6 span {
    float:left;
    margin-top:10px;
    margin-left:10px;
}

h6 img {
    float:left;
}

p {
    font-family: 'Raleway Dots', cursive;
    width: 80%;
    font-size: 30px;
}


/*-----------------------*/

.pure-menu {
    font-family: 'Raleway', cursive;
    color: #9DA7A7;
    font-size:15px;
    margin:30px;
}

table {
    font-family: 'Raleway Dots', cursive;
    font-size: 30px;
    margin-left:30px;
    margin-right:30px;
}

.button-xlarge {
    width:300px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.btn {
    font-family: 'Raleway Dots', cursive;
    color: #9DA7A7;
    font-size:30px;
}

.btn-group {
    margin-left: auto;
    margin-right: auto;

}

.modal-body {
    text-align:left;
}

.container {
    width:120px;
    height:200px;
    /*overflow:hidden;*/

}

input {
    line-height:2em;
    font-size:50px;
    font-family: 'Raleway Dots', cursive;
    border-radius: 30px;
}

/*text within coach profile  */

#container {
    height:400px;
    width:500px;
    position:relative;
    left:15%;
}

#image {
    position:absolute;
    left:0;
    top:0;
    height:500px;
    width:800px;
}

#text {
    z-index:50;
    position:absolute;
    color:white;
    font-size:50px;
    font-weight:bold;
    left:10px;
    top:250px;
    font-family: 'Raleway Dots', cursive;
}

.articles {

    font-family: 'Raleway Dots', cursive;
    color: #9DA7A7;
    font-size:30px;
}


/*rating stars */

.star-rating{
  font-size:0;
  white-space:nowrap;
  display:inline-block;
  width:200px;
  height:50px;
  overflow:hidden;
  position:relative;
  background:
      url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;

i{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background:
        url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
  input{
    -moz-appearance:none;
    -webkit-appearance:none;
    opacity: 0;
    display:inline-block;
    width: 20%;
    height: 100%;
    margin:0;
    padding:0;
    z-index: 2;
    position: relative;
    &:hover + i,
    &:checked + i{
      opacity:1;
    }
  }
  i ~ i{
    width: 40%;
  }
  i ~ i ~ i{
    width: 60%;
  }
  i ~ i ~ i ~ i{
    width: 80%;
  }
  i ~ i ~ i ~ i ~ i{
    width: 100%;
  }
}


/*--------typed text----------*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}